<h1>Create a new user:</h1>

<div class="row well"><%= form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username %></p>

<%= f.label :email %>
<%= f.text_field :email %></p>

<%= f.label :password %>
<%= f.password_field :password %></p>

<%= f.submit %>

<% end %></div>
