<h1>All Users</h1>

<% @users.each do |user| %>
  <p><h3><%= user.username %>:</h3> </p><p><%= link_to "Email", "mailto: #{user.email}", class: "btn btn-primary" %>
  <%= link_to "Delete", admin_user_path(user), method: :delete, class: "btn btn-danger" %></p><hr>
<% end %>

<h1>All Admins</h1>

<% @admins.each do |admin| %>
  <h3><%= admin.username %></h3><p> <%= link_to "Email", "mailto: #{admin.email}", class: "btn btn-primary" %></p>
<% end %><hr>

<%= link_to "Back to my admin page", admin_user_path(current_user) %>
